name: Continuous Integration
on:
  schedule:
    - cron: "0 0 * * 3"
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/cis.yml
      - bytecode/*
      - setup.py
      - tox.ini

jobs:
  formatting:
    name: Check code formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install tools
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox
      - name: Formatting
        env:
          TOXENV: fmt
        run: |
          tox

  tests:
    name: Unit tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python-version: "3.6"
            toxenv: py36
          - python-version: "3.7"
            toxenv: py37
          - python-version: "3.8"
            toxenv: py38
          - python-version: "3.9"
            toxenv: py39
          - python-version: "3.10.0-beta.1"
            toxenv: py310
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox
      - name: Test
        env:
          TOXENV: ${{ matrix.toxenv }}
        run: |
          tox
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          name: codecov-umbrella
          fail_ci_if_error: true
